* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #272D2D;
    color: #A39BA8;
}

a {
   color: #BECAD9; 
   
}

a:visited {
   color: #97A2B0; 	
}

body {
    margin: 0;
    padding: 0;
}
